.grandpa div {
  border: 2px solid tan;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: large;
  font-weight: 600;
}
